# Question 1

Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [1]:
a = 0  # a is assigned the intial value of 0

def b():     
    global a
    a = c(a)
def c(a):
    return a + 2

b()       # On execution b() sets the variable 'a' as a global variable and also function calls c() 
          # that takes 'a' as a parameter to return the value of a + 2 = 2 
    
b()       # On this execution the global a = 2, hence will result to global a = 2 + 2 = 4

b()       # On this execution the global a = 4, hence will result to global a = 4 + 2 = 6 when c() is called
     
a         # global a = 6

print(a)
print('See explanations in the comments ')

6
See explanations in the comments

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [2]:
def fileLength(file_name):
    
    try:                          # Try thecode to handle errors
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
        
    except FileNotFoundError:    # Exception for FileNotFoundError
        
        print('Sorry, the file "{}" is not found.'.format(file_name))
        
        
fileLength('filelength.txt')  
fileLength('ilelength.txt')

123
Sorry, the file "ilelength.txt" is not found.

# Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [3]:
class Marsupial :
    
    def __init__(self, pouch = []):
        
        self.pouch = pouch              # To store items on pouch
             
    def put_in_pouch(self,str):    
        
        self.pouch.append(str)          # Add items to the pouch using append()
        
    def pouch_contents(self):
        
        print(self.pouch)               # Show the contents of pouch
    
    
class Kangaroo(Marsupial) :
    
    def __init__(self, xcoord=0, ycoord=0):   # Method to store coordinates
        self.x = xcoord
        self.y = ycoord 
        
        Marsupial.__init__(self)             # Inherits the __init__() from the Superclass Marsupial to retrieve the pouch form Marsupial
        
        self.pouch = []                      
        
    def setx(self, xcoord):                  # Stores x coordinate
        self.x = xcoord
        
    def sety(self, ycoord):                  # Stores y coordinate
        self.y = ycoord

    def jump (self, xcoord, ycoord) :        # Change or Alter the coordinates according to new parameters
        self.x += xcoord
        self.y += ycoord   
        
    def get(self):                            # Returns the values of x and y
        return(self.x, self.y)
    
    def __str__(self):                       
                                             
        return 'I am a Kangaroo located at coordinates({},{})'.format(self.x, self.y)

In [4]:
m = Marsupial()

m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [5]:
k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll') 
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates(3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [6]:
def collatz(x) :
    if x > 1 :               # If x is greater than 1 proceed to the execute the next if statement else display x        
        if (x%2 == 0):       # Condition checks if x is is even, display the it's value exists the loop and retest the initial if
            print(int(x))
            collatz(x/2)
        else:
            print(int(x))
            collatz((x*3+1)) # Condition checks if the number is odd (not even)
    else :
        print(int(x))

In [7]:
collatz(1)

1

In [8]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [9]:
    def binary(x) :

        if x == 0:               # Condition to check for possible 0 input
            
            return x 
                                       
        elif x >= 1:             # Condition to check for possible 1 or greater input      
            binary(x//2)         
            print (x%2,end='') 
            
        else:
            print("Non-negative integer only")

In [10]:
binary(0)

0

In [11]:
binary(1)

1

In [12]:
binary(3)

11

In [13]:
binary(9)

1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [14]:
# Reference Material - https://www.journaldev.com/19931/python-html-parser

from html.parser import HTMLParser  # Imports HTMLParser

class HeadingParser(HTMLParser):
    
    def __init__(self):
        HTMLParser.__init__(self)
        self.inHeading = False
        self.indentvar = 0    

    def handle_starttag(self, tag, attrs): # Method to handle start tag
        if tag == 'h1':                    # If HTML header tag is h1
            self.inHeading=True
        
        elif tag == 'h2':                  # If HTML header tag is h2
            self.inHeading=True
            self.indentvar=1

    def handle_endtag(self, tag):          # Method to handle end tag
        if tag == 'h1':
            self.inHeading=False
        
        elif tag == 'h2':
            self.inHeading=False
            
    def handle_data(self,data):            # Method to handle data
        if (self.inHeading and self.indentvar ==0):   
            print(data)
        
        elif (self.inHeading and self.indentvar ==1):
            print(' ',data)

In [15]:
infile = open('w3c.html') 
content = infile.read() 
infile.close() 
headingparser = HeadingParser() 
headingparser.feed(content)

W3C Mission
  Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [16]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen

class Collector(HTMLParser): 
    
    def __init__(self, url): # Initializes the parser, url, and a list
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):         # Gathering of URLs

        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
                        
    def getLinks(self):
        return self.links # Returns URLs

In [17]:
url = 'http://reed.cs.depaul.edu/lperkovic/courses/csc242/test1.html'
def webdir(url, depth, indent):    
    resource = urlopen(url)
    content = resource.read().decode(errors='ignore')
    collector = Collector(url)
    collector.feed(content)
    links_in_page = collector.getLinks()
    
    print(' ' * indent, url)
    if depth != 0:        
        for link in links_in_page:
            webdir(link, depth - 1, indent + 2)
            
webdir(url, 2, 0)

 http://reed.cs.depaul.edu/lperkovic/courses/csc242/test1.html

# Question 8

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

City Country Season Temperature
(C)
Rainfall
(mm)
Mumbai India Winter 24.8 5.9
Mumbai India Spring 28.4 16.2
Mumbai India Summer 27.9 1549.4
Mumbai India Fall 27.6 346.0
London United Kingdom Winter 4.2 207.7
London United Kingdom Spring 8.3 169.6
London United Kingdom Summer 15.7 157.0
London United Kingdom Fall 10.4 218.5
Cairo Egypt Winter 13.6 16.5
Cairo Egypt Spring 20.7 6.5
Cairo Egypt Summer 27.7 0.1
Cairo Egypt Fall 22.2 4.5

#### Installing SQL

In [18]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\12263\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\12263\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython>=1.0 in c:\users\12263\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\12263\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: prettytable<1 in c:\users\12263\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\12263\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\12263\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\12263\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: backcall in c:\users\12263\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\12263\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: colorama in c:\users\12263\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\12263\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\12263\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: traitlets>=4.2 in c:\users\12263\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\12263\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: pygments in c:\users\12263\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\12263\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\12263\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\12263\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)

#### Loading SQLite - Ref Material - https://ramshankerg.github.io/Guided%20Project:%20Answering%20Business%20Questions%20using%20SQL.html

In [19]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

#### Creating table in the Database

In [20]:
%%sql
CREATE TABLE WeatherData
(
    city         VARCHAR(150),     
    country      VARCHAR(150),
    season       VARCHAR(50),
    temperature  FLOAT,
    rainfall     FLOAT
)

 * sqlite:///chinook.db
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

#### Inputting provided data into the table

In [21]:
%%sql
INSERT INTO WeatherData (city, country, season, temperature, rainfall)

VALUES
 ('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

 * sqlite:///chinook.db
12 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

#### Display Table

In [22]:
%%sql
SELECT * FROM WeatherData;

 * sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### Question 8(a) - All the temperature data.

In [23]:
%%sql
SELECT temperature FROM WeatherData;

 * sqlite:///chinook.db
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

#### Question 8(b) - All the cities, but without repetition.

In [24]:
%%sql
SELECT DISTINCT city FROM WeatherData;

 * sqlite:///chinook.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

#### Question 8(c) - All the records for India.

In [25]:
%%sql
SELECT * FROM WeatherData WHERE country = 'India';

 * sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

#####  Question 8(d) - All the Fall records.

In [26]:
%%sql
SELECT * FROM WeatherData WHERE season = 'Fall';

 * sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### Question 8(e) - The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [27]:
%%sql
SELECT city, country, season FROM WeatherData WHERE (rainfall>=200) AND (rainfall<=400);

 * sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

#### Question 8(f) - The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [28]:
%%sql
SELECT city, country FROM WeatherData WHERE (temperature>=20) AND (season='Fall')
ORDER BY temperature ASC;

 * sqlite:///chinook.db
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

#### Question 8(g) - The total annual rainfall for Cairo.

In [29]:
%%sql
SELECT SUM(rainfall) FROM WeatherData WHERE city = 'Cairo';

 * sqlite:///chinook.db
Done.

[(27.6,)]

#### Question 8(h) - The total rainfall for each season.

In [30]:
%%sql
SELECT season,SUM(rainfall) FROM WeatherData GROUP BY season

 * sqlite:///chinook.db
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

##### Suppose list words is defined as follows:
##### >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
##### Write list comprehension expressions that use list words and generate the following lists:

#### Question 9(a)

In [31]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
newArray = []
for x in words :                        
    newArray.append(x.upper())          # Appends the words to Uppercase
print(newArray)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### Question 9(b)

In [32]:
newArray = [] 
for x in words :                      
    newArray.append(x.lower())   # Appends the words to Lowercase
print(newArray)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### Question 9(c)

In [33]:
newArray = []
for x in words :           
    newArray.append(len(x))    # Appends the words with their length
print(newArray)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### Question 9(d)

In [35]:
newArray = []
for x in words:                   
        subArray = []
        subArray.append(x.upper())     
        subArray.append(x.lower())
        subArray.append(len(x))
        newArray.append(subArray)     
print(newArray,end='')

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

#### Question 9(e)

In [37]:
for x in words:
        x = x.strip()
        cond = all(i in words for i in x) and words[4] in w
        if len(x) >= 4 and cond:
            print(x)